body {
  display: grid;
  place-items: center;
}

.main {
  width: 60vw;
  margin: 10%;
}

// タスクのカウント
.taskCounts {
  display: flex;
  justify-content: center;
  gap: 6vw;
  .compCountNum{
    background-color: rgb(151, 246, 151);
  }
  .taskCountNum{
    background-color: rgb(249, 127, 127);
  }
}

// 登録バー
.taskOuter {
  margin-top: 10px;

  .taskWrapper {

    .taskBody {

      .taskContainer {
        display: flex;
        gap: 20px;
        width: 100%;
        margin-top: 20px;

        .taskInput {
          .taskTitle {
            input {
              display: inline-block;
              width: 100%;
              border: none;
              border-bottom: 1px solid #333;
              outline: none;
              padding: 4px 0;
              font-size: 4vw;
            }
          }

          .taskDescription {
            input {
              display: inline-block;
              width: 100%;
              border: none;
              border-bottom: 1px solid #333;
              outline: none;
              padding: 4px 0;
              font-size: 2vw;
            }
          }
        }

        .taskButton {
          display: flex;
          align-items: end;

          .addButton {
              height: 70%;
              width: 10vw;
              border: none;
              padding: 4px 8px;
              cursor: pointer;
              background-color: rgb(205, 205, 205);
          }
        }
      }
    }
  }
}

// 追加されたタスク
.taskInputAdd {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px 0;
    background-color: rgb(249, 127, 127);

    .taskTitleAdd {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: none;
      border-bottom: 1px solid #333;
      outline: none;
      padding: 4px 0;
      font-size: 4vw;
    }

    .taskDescriptionAdd {
      display: inline-block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #333;
      outline: none;
      padding: 4px 0;
      font-size: 2vw;
    }

    .noBorder {
      border-bottom: none;
    }
}
.compStyle {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4px 0;
    background-color: rgb(151, 246, 151);

    .taskTitleAdd {
      display: flex;
      flex-direction: column;
      width: 100%;
      border: none;
      border-bottom: 1px solid #333;
      outline: none;
      padding: 4px 0;
      font-size: 4vw;
    }

    .taskDescriptionAdd {
      display: inline-block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #333;
      outline: none;
      padding: 4px 0;
      font-size: 2vw;
    }

    .noBorder {
      border-bottom: none;
    }
}
.taskButtonAdd {
    display: flex;
    align-items: end;

    .compButton,
    .delButton {
      height: 70%;
      width: 10vw;
      border: none;
      padding: 4px 8px;
      cursor: pointer;
      background-color: rgb(205, 205, 205);
    }

    .delButton {
      color: white;
      background-color: rgb(30, 30, 30);
    }
}

// アニメーション用
.taskRow {
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}
